body {
    margin: 60px auto;
    width: 50%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #39f;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8em;
    line-height: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    line-height: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
.cover-img {
    width: 200px;
    float: left;
    margin: 10px;
    clear: left;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
Don't forget to com
